/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Prefix */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, reset.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}
/* line 26, reset.less */
b,
strong {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
/* line 30, reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 34, reset.less */
body {
  line-height: 1;
}
/* line 37, reset.less */
ol,
ul {
  list-style: none;
}
/* line 40, reset.less */
blockquote,
q {
  quotes: none;
}
/* line 43, reset.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 48, reset.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset */
/* line 4, design.less */
html {
  position: relative;
  min-height: 100%;
}
/* line 9, design.less */
::selection {
  background: #333333;
  color: #fff;
}
/* line 13, design.less */
::-moz-selection {
  background: #333333;
  color: #fff;
}
/* Header styles */
/* line 20, design.less */
header .navbar-wrap {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
/* line 25, design.less */
header .navbar {
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: #fff;
}
/* line 30, design.less */
header .navbar .navbar-header {
  float: none;
  width: 100px;
  margin-right: 33px;
}
/* line 34, design.less */
header .navbar .navbar-header a {
  display: block;
}
/* line 41, design.less */
header .navbar #navbar .navbar-nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 45, design.less */
header .navbar #navbar .navbar-nav li a:focus {
  background: #ccc;
}
/* line 48, design.less */
header .navbar #navbar .navbar-nav li a:hover {
  color: #000;
}
/* Main-Additional Content styles */
/* line 59, design.less */
#main_content {
  /* GitHub Repository style */
  /* Preloader */
}
/* line 61, design.less */
#main_content .main_section .page-header,
#main_content .contr_section .page-header,
#main_content .repo_section .page-header {
  border: none;
}
/* line 63, design.less */
#main_content .main_section .page-header h1,
#main_content .contr_section .page-header h1,
#main_content .repo_section .page-header h1 {
  margin: 0 0 30px 0;
}
/* line 66, design.less */
#main_content .main_section .page-header h2,
#main_content .contr_section .page-header h2,
#main_content .repo_section .page-header h2 {
  font-size: 35px;
  margin: 0 0 20px 0;
}
/* line 70, design.less */
#main_content .main_section .page-header h4,
#main_content .contr_section .page-header h4,
#main_content .repo_section .page-header h4 {
  margin: 0 0 15px 0;
}
/* line 73, design.less */
#main_content .main_section .page-header p,
#main_content .contr_section .page-header p,
#main_content .repo_section .page-header p {
  line-height: 27px;
}
/* line 76, design.less */
#main_content .main_section .page-header .btn,
#main_content .contr_section .page-header .btn,
#main_content .repo_section .page-header .btn {
  font-size: 16px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 80, design.less */
#main_content .main_section .page-header img,
#main_content .contr_section .page-header img,
#main_content .repo_section .page-header img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
/* line 87, design.less */
#main_content .main_section {
  background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 0.2), rgba(110, 123, 251, 0.7)), url(../img/bg.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
/* line 93, design.less */
#main_content .main_section .jumbotron {
  background: none;
}
/* line 96, design.less */
#main_content .main_section .jumbotron .page-header h1,
#main_content .main_section .jumbotron .page-header h4,
#main_content .main_section .jumbotron .page-header p {
  color: #fff;
}
/* line 105, design.less */
#main_content .repo_section .list-group {
  margin-bottom: 60px;
}
/* line 110, design.less */
#main_content .repo_section .list-group .list-group-item .col-md-9 .descr_pero h2 {
  margin-bottom: 15px;
}
/* line 112, design.less */
#main_content .repo_section .list-group .list-group-item .col-md-9 .descr_pero h2 .descr_pero_name {
  font-size: 22px;
}
/* line 116, design.less */
#main_content .repo_section .list-group .list-group-item .col-md-9 .descr_pero i {
  padding: 0 5px 0 0;
}
/* line 122, design.less */
#main_content .repo_section .list-group .list-group-item .col-md-3 .list_date {
  font-size: 13px;
}
/* line 124, design.less */
#main_content .repo_section .list-group .list-group-item .col-md-3 .list_date li {
  margin-bottom: 8px;
}
/* line 138, design.less */
#main_content .contr_section .page-header .table thead tr th span {
  cursor: pointer;
}
/* line 150, design.less */
#main_content .preload_text {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
/* line 155, design.less */
#main_content .preload_text i {
  vertical-align: middle;
}
/* line 158, design.less */
#main_content .preload_text span {
  display: inline-block;
}
/* Some Animations Css */
/* line 165, design.less */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 171, design.less */
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  max-height: 0;
}
/* line 178, design.less */
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  max-height: 30px;
}
/* line 185, design.less */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}
/* line 191, design.less */
footer .main_footer {
  text-align: center;
  padding: 20px 0 0 0;
  color: #000;
}
/* Media Query */
@media only screen and (max-width: 768px) {
  /* line 202, design.less */
  body header .navbar-wrap {
    padding: 20px 0;
    justify-content: center;
    width: 100%;
    display: block;
  }
  /* line 209, design.less */
  body header .navbar .navbar-header {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  /* line 214, design.less */
  body header .navbar .navbar-header a {
    margin: 0 auto;
    width: 200px;
  }
  /* line 218, design.less */
  body header .navbar .navbar-header img {
    display: inline;
  }
  /* line 221, design.less */
  body header .navbar .navbar-header .navbar-toggle {
    margin: 15px;
  }
  /* line 223, design.less */
  body header .navbar .navbar-header .navbar-toggle:focus,
  body header .navbar .navbar-header .navbar-toggle:hover {
    background-color: #38404f;
  }
  /* line 225, design.less */
  body header .navbar .navbar-header .navbar-toggle:focus span,
  body header .navbar .navbar-header .navbar-toggle:hover span {
    background: #ffffff;
  }
  /* line 229, design.less */
  body header .navbar .navbar-header .navbar-toggle span {
    background: #38404f;
  }
  /* line 233, design.less */
  body header .navbar .navbar-header button {
    float: none;
  }
  /* line 237, design.less */
  body header .navbar #navbar {
    float: none;
    visibility: visible;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    height: 200px;
  }
  /* line 244, design.less */
  body header .navbar #navbar.addclass {
    visibility: hidden;
    height: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translate(-5000px, 0px);
    -moz-transform: translate(-5000px, 0px);
    -o-transform: translate(-5000px, 0px);
    -ms-transform: translate(-5000px, 0px);
    transform: translate(-5000px, 0px);
  }
  /* line 255, design.less */
  body #main_content .main_section h1,
  body #main_content .contr_section h1,
  body #main_content .repo_section h1 {
    font-size: 40px;
  }
  /* line 259, design.less */
  body #main_content #main_content .main_section .jumbotron {
    background: none;
  }
  /* line 264, design.less */
  body #main_content .repo_section .page-header h2 {
    font-size: 22px;
  }
  /* line 270, design.less */
  body #main_content .repo_section .list-group .list-group-item .col-md-9 {
    margin-bottom: 20px;
  }
}
/* Attrs */
/* Other GLOBALS */
/* line 297, design.less */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 303, design.less */
.bg-meta {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
/* line 307, design.less */
.bg-meta .fa-circle {
  color: #f35f32;
}
/* line 314, design.less */
form .form-group .form-control {
  height: 45px;
}
/* line 320, design.less */
.tac {
  text-align: center;
}
/* line 321, design.less */
.tar {
  text-align: right;
}
/* line 322, design.less */
.tal {
  text-align: left;
}
/* line 323, design.less */
.pr {
  position: relative;
}
/* line 324, design.less */
.right {
  float: right;
}
/* line 325, design.less */
.left {
  float: left;
}
/* line 326, design.less */
.clear {
  clear: both;
}
/* line 327, design.less */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*# sourceMappingURL=design.css.map */